{% extends 'global_base.html' %}
{% load staticfiles %}

{% block title %}Michael Aboff - Software Developer and IT Professional{% endblock %}

{% block more_header %}
<link rel="stylesheet" type="text/css" href="{% static 'hub/css/hub_app.css' %}" />
<script type="text/javascript" src="{% static 'hub/js/main.js' %}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<script src="https://use.fontawesome.com/93d91f2111.js"></script>
{% endblock %}

{% block boff-links %}
<!--<a href="#portfolio" class="boff-link">Portfolio</a>-->
{% endblock %}