<div class='content-container'>
    <div class='project-content'>
        <div class='my-projects'>
            <div class='project' id='project-1'>
                <div class='project-title'>
                    boff.io
                </div>
                <div class='project-desc'>
                    An easy to use URL shortener built with python, JavaScript, Django, and a sprinkling of love.
                </div>
            </div>
            <div class='project' id='project-2'>
                <div class='project-title'>
                    MonkeyScripts
                </div>
                <div class='project-desc'>
                    A modern userscript hosting and discovery site. Designed with Rails, JavaScript, and Backbone.js
                </div>
            </div>
            <div class='project' id='project-2'>
                <div class='project-title'>
                    HF Enhancement Suite
                </div>
                <div class='project-desc'>
                    A massive browser script enjoyed by over 4000 users. Earned over $3000!
                </div>
            </div>
            <div class='project' id='project-1'>
                <div class='project-title'>
                    Craybot
                </div>
                <div class='project-desc'>
                    A sassy, python IRC bot focused on administration, designed for extreme customization.
                </div>
            </div>
            <div class='project' id='project-2'>
                <div class='project-title'>
                    Super Awesome File Deleter
                </div>
                <div class='project-desc'>
                    A python script that quickly deletes files and folders based off of user made config files.
                </div>
            </div>
            <div class='project' id='project-2'>
                <div class='project-title'>
                    Sweet Proxy Scraper
                </div>
                <div class='project-desc'>
                    Scrape working HTTP and Socks proxies from all over the web! Built with python.
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class='section fp-auto-height' id='section-portfolio' style='background-color:red'>
        <div class='content-container'>
            <div class='content'>
                <div class='project-title'>
                    HF Enhancement Suite
                </div>
                <div class='project-info'>
                    <div class='info-desc'>
                        boff.io is designed to be the simplest, concise, and beautiful URL shortener available. Users can customize links and track how many times it has been used.
                    </div>
                    <div class='project-img'></div>
                    <div class='info-tech'>
                        <b>Tech:</b> Python, Django, jQuery
                    </div>
                    <ul class='info-links'>
                        <li>Live</li>
                        <li>Github</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->